#AdminTag .editable-cell {
  position: relative;
}
#AdminTag .editable-cell-input-wrapper,
#AdminTag .editable-cell-text-wrapper {
  padding-right: 24px;
}
#AdminTag .editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}
#AdminTag .editable-cell-icon,
#AdminTag .editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}
#AdminTag .editable-cell-icon {
  line-height: 18px;
  display: none;
}
#AdminTag .editable-cell-icon-check {
  line-height: 28px;
}
#AdminTag .editable-cell:hover .editable-cell-icon {
  display: inline-block;
}
#AdminTag .editable-cell-icon:hover,
#AdminTag .editable-cell-icon-check:hover {
  color: #108ee9;
}
#AdminTag .editable-add-btn {
  margin-bottom: 8px;
}
