#DailyNews {
  height: 560px;
}
#DailyNews .dailyThead {
  display: flex;
  padding: 20px;
  font-size: 16px;
}
#DailyNews .dailyThead .dropdown {
  flex: 2;
  display: flex;
}
#DailyNews .dailyThead .dropdown a {
  color: red;
}
#DailyNews .dailyThead .newtag {
  margin-left: 40px;
}
#DailyNews .dailyThead .switch {
  flex: 3;
  display: flex;
  flex-direction: row-reverse;
}
#DailyNews tr > td {
  padding: 18px 10px;
  font-size: 16px;
}
.show {
  display: block;
}
.hide {
  display: none;
}
